{
  "Instructions": "Use strings on double-quotes only.",
  "Instructions": "All fields are OPTIONAL. If some field is not provided, it will be skipped.",
  "Strings extracted from": "https://dl.google.com/developers/android/CANARY/images/factory/comet_beta-zp11.251121.010-factory-6fceece1.zip",
  "COPG-VD": {
    "BRAND": "google",
    "DEVICE": "comet",
    "MANUFACTURER": "Google",
    "MODEL": "Pixel 9 Pro Fold",
    "FINGERPRINT": "google/comet_beta/comet:CANARY/ZP11.251121.010/14518957:user/release-keys",
    "PRODUCT": "comet_beta",
    "BOOTLOADER": "unknown",
    "BOARD": "comet",
    "HARDWARE": "comet",
    "DISPLAY": "ZP11.251121.010",
    "ID": "ZP11.251121.010",
    "HOST": "58f21d9a5042",
    "INCREMENTAL": "14518957",
    "TIMESTAMP": "1764628806",
    "ANDROID_VERSION": "16",
    "SDK_INT": "36",
    "PREVIEW_SDK": "20251117",
    "SDK_FULL": "36.1",
    "CODENAME": "CANARY",
    "USER": "android-build",
    "SDK_FINGERPRINT": "5884f561dec5f7cd98d06e1dc7ca80b1",
    "SECURITY_PATCH": "2025-12-05"
  }
}
