{
  "COPG-VD": {
    "BRAND": "google",
    "DEVICE": "Pixel 9 Pro Fold",
    "MANUFACTURER": "Google",
    "MODEL": "comet",
    "FINGERPRINT": "google/comet_beta/comet:16/CP11.251114.007/14621658:user/release-keys",
    "PRODUCT": "comet",
    "BOOTLOADER": "unknown",
    "BOARD": "comet",
    "HARDWARE": "comet",
    "DISPLAY": "CP11.251114.007",
    "ID": "CP11.251114.007",
    "HOST": "r-a06a74e0f133947d-zsc4",
    "INCREMENTAL": "14621658",
    "TIMESTAMP": "1766184311",
    "ANDROID_VERSION": "16",
    "SDK_INT": "36",
    "SECURITY_PATCH": "2025-12-05"
  }
}
